<header>
  <h1>Welcome to Flowing Classroom!</h1>
</header>
<main>
  <div class="form-control">
    <label>Text</label>
    <flowing-input placeholder="Text" [(value)]="textValue"></flowing-input>
  </div>
  <div>
    <p>{{ textValue }}</p>
  </div>

  <div class="form-control">
    <label>Text With Error</label>
    <flowing-input
      placeholder="Text With Error"
      [(value)]="textValue"
      status="error"
    >
    </flowing-input>
  </div>

  <div class="form-control">
    <label>Text With Warning</label>
    <flowing-input
      placeholder="Text With Warning"
      [(value)]="textValue"
      status="warning"
    >
    </flowing-input>
  </div>

  <div class="form-control">
    <label>Text With Success</label>
    <flowing-input
      placeholder="Text With Success"
      [(value)]="textValue"
      status="success"
    >
    </flowing-input>
  </div>

  <div class="form-control">
    <label>Password</label>
    <flowing-input
      type="password"
      placeholder="Password"
      [(value)]="passwordValue"
    >
    </flowing-input>
  </div>

  <div class="form-control">
    <label>Number</label>
    <flowing-input
      type="number"
      placeholder="Number"
      [(value)]="numberValue"
      [min]="0"
      [max]="100"
      [step]="1"
    >
    </flowing-input>
  </div>

  <div class="form-control">
    <label>Country</label>
    <flowing-select
      [value]="selectedCountyCode"
      (valueChange)="onCountryChange($event)"
      [options]="countries"
      keyProp="code"
      valueProp="code"
      textProp="name"
    ></flowing-select>
  </div>

  <pre>{{ selectedCounty | json }}</pre>

  <div class="form-control">
    <label>Color</label>
    <flowing-select
      [value]="selectColorId"
      (valueChange)="onColorChange($event)"
      [options]="colors"
      keyProp="id"
      valueProp="id"
      textProp="label"
    ></flowing-select>
  </div>

  <pre>{{ selectColor | json }}</pre>
</main>
